@page "/dashboard"

@using Bdt.Client.Helpers;
@using Bdt.Client.AppServices.Levels;
@using Bdt.Client.AppServices.Planner;
@using Bdt.Client.AppServices.Theme;
@using Bdt.Client.AppServices.Weekday
@using Bdt.Client.AppServices.Workouts;
@using Bdt.Client.Shared.Buttons
@using Bdt.Client.Shared.Dialogs;
@using Bdt.Client.Shared.Charts;
@using Bdt.Client.Shared.LevelDashboard;
@using Bdt.Shared.Dtos.Levels
@using Bdt.Shared.Static;
@using Bdt.Shared.Dtos.Planner;
@using Bdt.Shared.Dtos.WeekDay;
@using Bdt.Shared.Models.Charts;
@using Bdt.Shared.Dtos.Workouts;
@using Bdt.Client.AppServices.Dialog;
@using Bdt.Client.Shared.TextInputs;

@inject IWorkoutService _workoutService
@inject IPlannerService _plannerService
@inject IWeekdayService _weekdayService
@inject ILevelService _levelService
@inject IBdtDialogService _dialogService
@inject NavigationManager _navigation
@inject BdtThemeService _themeService

@if (loading)
{
    <PageLoading />
}
else
{
    @* MaxWidth = "MaxWidth.ExtraExtraLarge" *@
    <MudContainer Class="mt-5 px-2" Style="width:95%">

        @if (nextWorkout is not null)
        {
            <NextWorkoutDashboardButton NextWorkout="@nextWorkout" />
        }
            
        <LevelDashboardComponent UserLevel="@userLevel" SixCountLevel="@sixCountLevel" NavySealsLevel="@navySealLevel" />

        <div class="row mt-5">
            <DropdownInputComponent Label="View Charts By" TItem="string" @bind-SelectedItem="@selectedViewByValue" Items="@viewByList" />
        </div>

        @* <BurpeeChart ViewBy="@SelectedViewByValue" Title="6 Count" Data="SixCount" SeriesName="6 Count" VisibleGridlines=true PersonalBest="@SixCountPb" />

        <BurpeeChart ViewBy="@SelectedViewByValue" Title="Navy Seal" Data="NavySeals" SeriesName="Navy Seals" VisibleGridlines=true PersonalBest="@NavySealPb" /> *@

        <div class="row mt-5">
            <BurpeeChart2 ViewBy="@selectedViewByValue" Title="Burpees" Data="userWorkouts" />
        </div>

        <div class="row mt-5 mb-10">
            <PushupChart ViewBy="@selectedViewByValue" Title="Total Pushups" Data="userWorkouts" />
        </div>

    </MudContainer>
}

@code {
    private bool loading = true;
    private IEnumerable<WorkoutDto>? userWorkouts;
    private IEnumerable<LevelDto> levels = [];
    private PlannerDto? nextWorkout;
    private LevelDto userLevel;
    private LevelDto sixCountLevel;
    private LevelDto navySealLevel;

    private string selectedViewByValue = "Workout";
    private List<string> viewByList = [ "Workout", "Week" ];

    private void CalculateUserLevel(IEnumerable<WorkoutDto> userWorkouts, IEnumerable<LevelDto> levels)
    {
        var oneMonthAgo = DateTime.Now.Date.AddMonths(-5);
        var twentyMinWorkoutsInLastMonth = userWorkouts.Where(x => x.Date >= oneMonthAgo).Where(x => x.WorkoutTime == 20).ToList();
        var sixCounts = twentyMinWorkoutsInLastMonth.Where(x => x.WorkoutTypeId == 1);
        var navySeals = twentyMinWorkoutsInLastMonth.Where(x => x.WorkoutTypeId == 2);
        int maxSixCounts = 0;
        int maxNavySeals = 0;

        if (sixCounts.Count() > 0)
        {
            maxSixCounts = sixCounts.Max(x => x.WokoutValues.FirstOrDefault().Amount);
        }
        if (navySeals.Count() > 0)
        {
            maxNavySeals = navySeals.Max(x => x.WokoutValues.FirstOrDefault().Amount);
        }

        sixCountLevel = levels.FirstOrDefault(x => x.Lower6Count <= maxSixCounts && x.Upper6Count >= maxSixCounts);
        navySealLevel = levels.FirstOrDefault(x => x.LowerNavySeal <= maxNavySeals && x.UpperNavySeal >= maxNavySeals);

        SessionVariables.SixCountLevel = sixCountLevel;
        SessionVariables.NavySealLevel = navySealLevel;

        if (sixCountLevel is not null && navySealLevel is not null)
        {
            userLevel = levels.FirstOrDefault(x => x.Id == (int)Math.Min(sixCountLevel.Id, navySealLevel.Id));
            SessionVariables.UserLevel = userLevel;
        }
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var weekdays = await _weekdayService.GetAllWeekdays();
            var todayId = weekdays.Data.FirstOrDefault(x => x.Name == DateTime.Now.DayOfWeek.ToString()).Id;

            var plannerResponse = await _plannerService.GetUserPlans();
            if (plannerResponse.IsSuccess)
            {
                if (plannerResponse.Data.Count() > 0)
                {
                    if (plannerResponse.Data.Any(x => x.WeekDayId >= todayId))
                    {
                        nextWorkout = plannerResponse.Data
                            .Where(x => x.WeekDayId >= todayId)
                            .OrderBy(x => x.WeekDayId)
                            .First();
                    }
                    else
                    {
                        nextWorkout = plannerResponse.Data
                            .OrderBy(x => x.WeekDayId)
                            .First();
                    }
                }
            }

            var levelResp = await _levelService.GetAllLevels();
            var workoutResponse = await _workoutService.GetUserWorkouts();

            if (workoutResponse.IsSuccess && levelResp.IsSuccess)
            {
                levels = levelResp.Data;
                userWorkouts = workoutResponse.Data;

                CalculateUserLevel(userWorkouts, levels);

                loading = false;
            }

            else
            {
                await _dialogService.ShowErrorDialog("Oops!", $"Error retrieving data: {workoutResponse.ErrorMessage}");
            }
        }
        catch (Exception ex)
        {
            await _dialogService.ShowErrorDialog("Oops!", "There was an issue while attempting to retrieve your data.");
        }
    }
}
