@page "/forgotpassword/{EmailAddress}"

@using Bdt.Client.AppServices.App;
@using Bdt.Client.AppServices.Claims
@using Bdt.Client.AppServices.Theme;
@using System.Text.RegularExpressions;
@using Bdt.Shared.Models.App;
@using Bdt.Client.AppServices.Theme;
@using Bdt.Client.AppServices.Dialog;
@using Bdt.Client.AppServices.App;
@using Bdt.Client.AppServices.Claims;

@inject IAppService _appService
@inject IClaimService _claimService
@inject IBdtDialogService _dialogService
@inject             BdtThemeService _themeService
@inject NavigationManager _navigation

<MudGrid>
    <MudItem xs="12" sm="7">
        <MudPaper Class="pa-4">
            @if (isDarkTheme)
            {
                <MudImage Src="images/busy_dad_white_logo_medium.png" Alt="Busy Dad Training" Style="width:100%" Class="mt-5 mb-5" />
            }
            else
            {
                <MudImage Src="images/busy_dad_black_logo_medium.png" Alt="Busy Dad Training" Style="width:100%" Class="mt-5 mb-5" />
            }
            <MudText Align="MudBlazor.Align.Center" Typo="Typo.body1">Please reset your password below...</MudText>
            <MudForm @bind-IsValid="@success" @bind-Errors="@srrors">
                <MudTextField T="string" Label="Password" HelperText="Choose a strong password" @bind-Value="password"
                              InputType="InputType.Password"
                              Validation="@(new Func<string, IEnumerable<string>>(PasswordStrength))" Required="true"
                              RequiredError="Password is required!" />
                <MudTextField T="string"
                              Label="Password" HelperText="Repeat the password" InputType="InputType.Password"
                              Validation="@(new Func<string, string>(PasswordMatch))" />
                <div class="d-flex align-center justify-space-between">
                    <MudButton Variant="MudBlazor.Variant.Filled" Color="MudBlazor.Color.Primary" Disabled="@(!success)" Class="ml-auto" OnClick="@Submit">
                        @if (showSpinner)
                        {
                            <MudProgressCircular Size=MudBlazor.Size.Small Color="MudBlazor.Color.Info" Indeterminate="true" />
                        }
                        else
                        {
                            <MudText>Reset Password</MudText>
                        }
                    </MudButton>
                </div>
            </MudForm>
        </MudPaper>
        <MudPaper Class="pa-4">
            <MudLink Href="/">Already have an account?</MudLink>
        </MudPaper>
    </MudItem>
</MudGrid>

@code {
    [Parameter] public string EmailAddress { get; set; }

    private string resetPasswordToken;
    private bool success;
    private string[] srrors = [];
    private MudForm form;
    private string password;

    private bool showSpinner = false;
    private bool isDarkTheme = false;

    protected override async Task OnInitializedAsync()
    {
        isDarkTheme = await _claimService.IsDarkTheme();

        var response = await _appService.ForgotPassword(EmailAddress);

        if (response.IsSuccess)
        {
            resetPasswordToken = response.Data;
        }
        else
        {
            await _dialogService.ShowErrorDialog("Oops!", $"Failed to reset password. Please try again.");
            _navigation.NavigateTo("/login");
        }
    }

    private async Task Submit()
    {
        showSpinner = true;

        var resetPasswordModel = new ResetPasswordModel
            {
                Email = EmailAddress,
                Password = password,
                Token = resetPasswordToken
            };

        var response = await _appService.ResetPassword(resetPasswordModel);

        if (response.IsSuccess)
        {
            showSpinner = false;

            await _dialogService.ShowErrorDialog("Oops!", $"Your password was reset successfully.");
            _navigation.NavigateTo("/login");
        }
        else
        {
            showSpinner = false;

            await _dialogService.ShowErrorDialog("Oops!", $"Failed to reset your password, please try again.");
        }
    }

    private IEnumerable<string> PasswordStrength(string password)
    {
        if (string.IsNullOrWhiteSpace(password))
        {
            yield return "Password is required!";
            yield break;
        }
        if (password.Length < 8)
            yield return "Password must be at least of length 8";
        if (!Regex.IsMatch(password, @"[A-Z]"))
            yield return "Password must contain at least one capital letter";
        if (!Regex.IsMatch(password, @"[a-z]"))
            yield return "Password must contain at least one lowercase letter";
        if (!Regex.IsMatch(password, @"[0-9]"))
            yield return "Password must contain at least one digit";
    }

    private string PasswordMatch(string arg)
    {
        if (password != arg)
            return "Passwords don't match";
        return null;
    }
}
