@page "/login"
@attribute [AllowAnonymous]

@using System.Text.RegularExpressions
@using System.ComponentModel.DataAnnotations
@using System.IdentityModel.Tokens.Jwt;
@using System.Security.Claims;
@using Bdt.Client.AppServices.Claims
@using Bdt.Client.Provider
@using Bdt.Client.Shared.TextInputs
@using Bdt.Shared.Models.App;
@using Bdt.Client.AppServices.Theme;
@using Bdt.Client.Shared.Dialogs;
@using Bdt.Client.AppServices.App
@using Bdt.Shared.Dtos.Users;
@using Bdt.Client.AppServices.Dialog;

@inject IAppService _appService
@inject IBdtDialogService _dialogService
@inject IClaimService _claimService
@inject NavigationManager _navigation
@inject BdtThemeService _themeService
@inject CustomAuthStateProvider _authStateProvider

<MudContainer Style="height:80vh;width:100%" Class="mt-2">
    
    <MudItem xs="12" sm="7">
        <MudContainer Class="pa-4">
            @if (isDark)
            {
                <MudImage Src="images/busy_dad_white_logo_medium.png" Alt="Busy Dad Training" Style="width:100%" Class="mt-5 mb-5" />
            }
            else
            {
                <MudImage Src="images/busy_dad_black_logo_medium.png" Alt="Busy Dad Training" Style="width:100%" Class="mt-5 mb-5" />
            }

            <div class="row">
                <MudText Typo="Typo.h5">Welcome!</MudText>
            </div>

            <MudForm @ref="form" @bind-Errors="@errors" @bind-IsValid="@success" Class="mt-10">

                <div class="row">
                    <EmailInputComponent @bind-Email="@emailAddress" />
                </div>
                <div class="row mt-7">
                    <PasswordInputComponent @bind-Password="@password" Required="false" />
                </div>

                <MudLink OnClick="ForgotPasswordClicked"><MudText Typo="Typo.caption">Forgot password?</MudText></MudLink>

                <div class="row" style="justify-content: center">
                    <MudButton Style="width:400px;height:40px;border-radius:50px;" Variant="MudBlazor.Variant.Filled" Color="MudBlazor.Color.Primary" Disabled="@(!success)" Class="m-auto mt-10" OnClick="@Submit">
                        @if (showSpinner)
                        {
                            <MudProgressCircular Size=MudBlazor.Size.Small Color="MudBlazor.Color.Info" Indeterminate="true" />
                        }
                        else
                        {
                            <MudText>Login</MudText>
                        }
                    </MudButton>
                </div>
            </MudForm>
        </MudContainer>
        <MudContainer Class="pa-4">
            <MudLink Href="/register"><MudText Typo="Typo.caption">Don't have an account yet? Sign up here!</MudText></MudLink>
        </MudContainer>
    </MudItem>
</MudContainer>

@code {
    private bool success;
    private string[] errors = [];
    private string password = string.Empty;
    private string emailAddress = string.Empty;
    private MudForm form;

    private bool showSpinner = false;
    private bool isDark = false;

    protected override async Task OnInitializedAsync()
    {
        isDark = await _claimService.IsDarkTheme();
    }

    private async Task ForgotPasswordClicked()
    {
        var email = await _dialogService.ResetPasswordDialog(emailAddress);

        if (string.IsNullOrEmpty(email))
            return;

        var response = await _appService.ForgotPassword(email);
        if (response.IsSuccess)
        {
            await _dialogService.ShowErrorDialog("Password Reset Request", $"Please follow the link that was emailed to {email} to reset your password.");
        }
        else
        {
            await _dialogService.ShowErrorDialog("Oops!", $"Failed to reset password. Please make sure you provided the correct email address and try again.");
            _navigation.NavigateTo("/login");
        }
    }

    private async Task Submit()
    {
        showSpinner = true;

        var authenticateUserDto = new AuthenticateUserDto
            {
                Email = emailAddress,
                Password = password
            };

        var response = await _appService.AuthenticateUser(authenticateUserDto);

        if (!response.IsSuccess)
        {
            showSpinner = false;

            if (response.ErrorMessage.Equals("Email not authorized."))
                _navigation.NavigateTo($"/pleaseverifyemail/{authenticateUserDto.Email}/{authenticateUserDto.Email}/{authenticateUserDto.Password}");
            else
            {
                await _dialogService.ShowErrorDialog("Oops!", "Your login has failed. Please try again.");
            }
        }
        else
        {
            await _authStateProvider.MarkUserAsAuthenticated(response.Data);
            var authState = await _authStateProvider.GetAuthenticationStateAsync();

            if (authState.User.Identity.IsAuthenticated)
            {
                showSpinner = false;

                var isFirstLogin = await _claimService.IsFirstLogin();

                if (isFirstLogin)
                {
                    _navigation.NavigateTo("/getstarted");
                }
                else
                {
                    _navigation.NavigateTo("/dashboard");
                }
            }
            else
            {
                await _dialogService.ShowErrorDialog("Oops!", "Something went wrong. Please try again");

                _navigation.NavigateTo("/login");
            }
        }
    }
}
