@using Bdt.Client.Layout
@using Microsoft.AspNetCore.Components.Authorization

@inject NavigationManager _navigation

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
            <Authorizing>
                @* Add proper loading pages here *@
                <p>Authorizing...</p>
            </Authorizing>
            <NotAuthorized>
                @* Add proper message here *@
                <p>You are not authorized to view this page. Redirecting to login...</p>
                
            </NotAuthorized>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <h1>Page Not Found</h1>
        <p>Sorry, the page you requested could not be found.</p>
        <MudButton OnClick="@(() => _navigation.NavigateTo("/"))">Go to Home</MudButton>
    </NotFound>
</Router>

