@using BdtClient.AppServices.Stripe;
@using BdtShared.Models.StripeModels;
@using BdtShared.Models.Country;
@using BdtShared.Static

@inject IJSRuntime _js;
@inject IStripeService _stripeService;
@inject NavigationManager _navigation;

<MudContainer>
    <EditForm Model="@_subRequest">
        <ChildContent Context="EditContext">
            <DataAnnotationsValidator />
            <MudGrid>
                <MudItem xs="12">
                    <div class="form-group">
                        <MudTextField Required="true" Label="Name on card" id="CardholderName" class="form-control" @bind-Value="@_subRequest.BillingName"></MudTextField>
                    </div>
                    <ValidationMessage For="@(() => _subRequest.BillingName)" />
                </MudItem>
                <MudItem xs="12">
                    <div class="form-group">
                        <MudTextField Label="Email" Required="true" id="billing-email" class="form-control" @bind-Value="@_subRequest.BillingEmail"></MudTextField>
                    </div>
                    <ValidationMessage For="@(() => _subRequest.BillingEmail)" />
                </MudItem>
                <MudItem xs="12">
                    <MudText Typo="Typo.caption">Card Number*</MudText>
                    <div class="form-group">
                        <div id="cardNumber-element" style="display: block;
                                      width: 100%;
                                      padding: 0.52rem  .75rem;
                                      font-size: 0.5rem;
                                      line-height: 1.5;
                                      color: #495057;
                                      background-color: #fff;
                                      background-clip: padding-box;
                                      border: 1px solid #ced4da;
                                      border-radius: .25rem;
                                      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;">
                        </div>
                        <div id="cardNumber-element-errors" role="alert" color="red"></div>
                        <div style="height:10px"></div>
                    </div>
                </MudItem>
                <MudItem xs="7">
                    <div class="form-group">
                        <div id="cardExpiry-element" style="display: block;
                                      width: 100%;
                                      padding: 0.52rem  .75rem;
                                      font-size: 0.5rem;
                                      line-height: 1.5;
                                      color: #495057;
                                      background-color: #fff;
                                      background-clip: padding-box;
                                      border: 1px solid #ced4da;
                                      border-radius: .25rem;
                                      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;">
                        </div>
                        <div id="cardExpiry-element-errors" role="alert" color="red"></div>
                        <div style="height:10px"></div>
                    </div>
                </MudItem>
                <MudSpacer />
                <MudItem xs="4">
                    <div class="form-group">
                        <div id="cardCvc-element" style="display: block;
                                      width: 100%;
                                      padding: 0.52rem  .75rem;
                                      font-size: 0.5rem;
                                      line-height: 1.5;
                                      color: #495057;
                                      background-color: #fff;
                                      background-clip: padding-box;
                                      border: 1px solid #ced4da;
                                      border-radius: .25rem;
                                      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;">
                        </div>
                        <div id="cardCvc-element-errors" role="alert" color="red"></div>
                        <div style="height:10px"></div>
                    </div>
                </MudItem>
                @* <MudItem xs="12">
                    <MudText Typo="Typo.h6" Align="MudBlazor.Align.Center">Billing Address</MudText>
                </MudItem>
                <MudItem xs="12">
                    <div class="form-group">
                        <MudTextField id="address-line-1" class="form-control" @bind-Value="@_subRequest.Line1" placeholder="Address Line 1..."></MudTextField>
                    </div>
                </MudItem>
                <MudItem xs="12">
                    <div class="form-group">
                        <MudTextField id="address-line-2" class="form-control" @bind-Value="@_subRequest.Line2" placeholder="Address Line 2..."></MudTextField>
                    </div>
                </MudItem>
                <MudItem xs="12">
                    <div class="form-group">
                        <MudTextField id="city" class="form-control" @bind-Value="@_subRequest.City" placeholder="City..."></MudTextField>
                    </div>
                </MudItem> *@
                <MudItem xs="12">
                    <div class="form-group">
                        <MudSelect SelectedValuesChanged="@(() => CountrySelected())" Required=true Margin="Margin.Dense" T="CountryCodeModel" Label="Country" id="country-code"
                                   Variant="MudBlazor.Variant.Text" @bind-Value="@SelectedCountry">
                            @foreach (var country in CountryCodes.CountryCodesList)
                            {
                                <MudSelectItem T="CountryCodeModel" Value="@country">@country.Name</MudSelectItem>
                            }
                        </MudSelect>
                        @* <label for="countries"></label>
                        <select @bind="@SelectedCountryCode" style="width:100%;color:grey" class="p-2 border-1 rounded-1" name="countries" id="country-code">
                            @foreach (var country in CountryCodes.CountryCodesList)
                            {
                                <option value="@country.Code">@country.Name</option>
                            }
                        </select> *@
                    </div>
                </MudItem>
                <MudItem xs="12">
                    <div class="form-group">
                        <MudTextField Required=true Label="Postal Code" id="postal-code" class="form-control" @bind-Value="@_subRequest.PostalCode"></MudTextField>
                    </div>
                    <ValidationMessage For="@(() => _subRequest.PostalCode)" />
                </MudItem>
            </MudGrid>
        </ChildContent>
    </EditForm>
    
    <MudGrid>
        <MudSpacer />
        @if (ShowSpinner)
        {
            <MudItem Style="width:30%">
                <div class="width:100%">
                    <button style="margin-top: 30px; width:100%" class="btn btn-primary">
                        <MudProgressCircular Size=MudBlazor.Size.Small Color="MudBlazor.Color.Info" Indeterminate="true" />
                    </button>
                </div>
            </MudItem>
            
        }
        else
        {
            <MudItem Style="width:30%">
                <div class="width:100%">
                    <button @onclick="ProcessPaymentAsync" style="margin-top: 30px; width:100%" class="btn btn-primary">Pay</button>
                </div>
            </MudItem>
        }
    </MudGrid>
    
</MudContainer>

@code{
    [Parameter] public StripeBillingRequest _subRequest { get; set; }
    [Parameter] public EventCallback<bool> PaymentProcessed { get; set; }

    protected bool _firstTime;
    private DotNetObjectReference<StripeComponent> _objRef;
    private CountryCodeModel SelectedCountry;
    private string SelectedCountryCode;

    private bool ShowSpinner = false;

    private string StripePubKey;

    private void CountrySelected()
    {
        if (SelectedCountry.Code == "__")
        {
            SelectedCountry = CountryCodes.CountryCodesList.First();
            return;
        }

        _subRequest.Country = SelectedCountry.Code;
    }

    protected override async Task OnInitializedAsync()
    {
        _firstTime = true;
    }

    public void Dispose()
    {
        _objRef?.Dispose();
    }


    public async Task ProcessPaymentAsync()
    {
        ShowSpinner = true;
        _objRef = DotNetObjectReference.Create(this);
        await _js.InvokeVoidAsync("createPaymentMethodServer", _objRef, _subRequest.BillingEmail,
            _subRequest.BillingName, _subRequest.Line1, _subRequest.Line2, _subRequest.City,
            _subRequest.PostalCode, _subRequest.Country);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (_firstTime)
        {
            StripePubKey = await _stripeService.GetPublicKey(Globals.Environment == BdtShared.Enums.EnvironmentEnums.Devevelopment);
            if (StripePubKey.ToLower().Contains("error"))
            {
                //await App.Current.MainPage.DisplayAlert("Oops", $"An error has occurred, please try again.", "OK");
                ShowSpinner = false;
                _navigation.NavigateTo("/pricing");
            }

            _firstTime = false;
            await _js.InvokeVoidAsync("initializeStripe", StripePubKey);
        }
    }

    [JSInvokable("Subscribe")]
    public Task Subscribe(string paymentID)
    {
        ShowSpinner = false;
        _subRequest.PaymentMethod = paymentID;
        return PaymentProcessed.InvokeAsync(true);
    }
}