@using Bdt.Shared.Dtos.Levels;

<MudCard Style="border-radius:20px" Class="mt-5 mud-elevation-2" Outlined="true">
    <MudCardContent>
        <MudText Align="MudBlazor.Align.Center" Typo="Typo.body2">Your Level</MudText>

        <div class="mt-5 mb-5" style="width:100%">
            <MudGrid Justify="Justify.Center" Style="align-items:center">
                <MudPaper Height="10px" Width="10px" Square="true" Class="mud-theme-primary mr-2" />
                <MudText Style="font-size:0.6rem" Align="MudBlazor.Align.Center" Typo="Typo.caption">Overall</MudText>
        
                <MudPaper Height="10px" Width="10px" Square="true" Class="mud-theme-info mr-2 ml-5" />
                <MudText Style="font-size:0.6rem;" Align="MudBlazor.Align.Center" Typo="Typo.caption">6 Count</MudText>

                <MudPaper Height="10px" Width="10px" Square="true" Class="mud-theme-tertiary mr-2 ml-5" />
                <MudText Style="font-size:0.6rem" Align="MudBlazor.Align.Center" Typo="Typo.caption">Navy Seal</MudText>
            </MudGrid>
        </div>

        <MudGrid Spacing="0" Style="width:100%;margin-top:10px" Justify="Justify.Center">
            <MudStack Style="width:12%;" Spacing="1">
                <MudProgressLinear Style="width:100%;margin:6px 0 !important" Color="MudBlazor.Color.Primary" Size="MudBlazor.Size.Medium" Min="0" Max="1" Value="@(UserLevel is null ? 0 : UserLevel.Id  >= 1 ? 1 : 0)" Class="my-7" />
                <MudProgressLinear Style="width:100%;margin:6px 0 !important" Color="MudBlazor.Color.Info" Size="MudBlazor.Size.Medium" Min="0" Max="1" Value="@(SixCountLevel is null ? 0 : SixCountLevel.Id >= 1 ? 1 : 0)" Class="my-7" />
                <MudProgressLinear Style="width:100%;margin:6px 0 !important" Color="MudBlazor.Color.Tertiary" Size="MudBlazor.Size.Medium" Min="0" Max="1" Value="@(NavySealsLevel is null ? 0 : NavySealsLevel.Id >= 1 ? 1 : 0)" Class="my-7" />
                <MudText Style="font-size:0.6rem" Typo="Typo.caption" Align="MudBlazor.Align.Center">1A</MudText>
            </MudStack>
            <MudStack Style="width:12%;border-left: 0.5px dashed rgba(33,150,243,1); border-right: 0.5px dashed rgba(33,150,243,1);" Spacing="1">
                <MudProgressLinear Style="width:100%;margin:6px 0 !important" Color="MudBlazor.Color.Primary" Size="MudBlazor.Size.Medium" Min="0" Max="1" Value="@(UserLevel is null ? 0 : UserLevel.Id >= 2 ? 1 : 0)" Class="my-7" />
                <MudProgressLinear Style="width:100%;margin:6px 0 !important" Color="MudBlazor.Color.Info" Size="MudBlazor.Size.Medium" Min="0" Max="1" Value="@(SixCountLevel is null ? 0 : SixCountLevel.Id >= 2 ? 1 : 0)" Class="my-7" />
                <MudProgressLinear Style="width:100%;margin:6px 0 !important" Color="MudBlazor.Color.Tertiary" Size="MudBlazor.Size.Medium" Min="0" Max="1" Value="@(NavySealsLevel is null ? 0 : NavySealsLevel.Id >= 2 ? 1 : 0)" Class="my-7" />
                <MudText Style="font-size:0.6rem" Typo="Typo.caption" Align="MudBlazor.Align.Center">1B</MudText>
            </MudStack>
            <MudStack Style="width:12%; border-right: 0.5px dashed rgba(33,150,243,1);" Spacing="1">
                <MudProgressLinear Style="width:100%;margin:6px 0 !important" Color="MudBlazor.Color.Primary" Size="MudBlazor.Size.Medium" Min="0" Max="1" Value="@(UserLevel is null ? 0 : UserLevel.Id >= 3 ? 1 : 0)" Class="my-7" />
                <MudProgressLinear Style="width:100%;margin:6px 0 !important" Color="MudBlazor.Color.Info" Size="MudBlazor.Size.Medium" Min="0" Max="1" Value="@(SixCountLevel is null ? 0 : SixCountLevel.Id >= 3 ? 1 : 0)" Class="my-7" />
                <MudProgressLinear Style="width:100%;margin:6px 0 !important" Color="MudBlazor.Color.Tertiary" Size="MudBlazor.Size.Medium" Min="0" Max="1" Value="@(NavySealsLevel is null ? 0 : NavySealsLevel.Id >= 3 ? 1 : 0)" Class="my-7" />
                <MudText Style="font-size:0.6rem" Typo="Typo.caption" Align="MudBlazor.Align.Center">1C</MudText>
            </MudStack>
            <MudStack Style="width:12%;border-right: 0.5px dashed rgba(33,150,243,1);" Spacing="1">
                <MudProgressLinear Style="width:100%;margin:6px 0 !important" Color="MudBlazor.Color.Primary" Size="MudBlazor.Size.Medium" Min="0" Max="1" Value="@(UserLevel is null ? 0 : UserLevel.Id >= 4 ? 1 : 0)" Class="my-7" />
                <MudProgressLinear Style="width:100%;margin:6px 0 !important" Color="MudBlazor.Color.Info" Size="MudBlazor.Size.Medium" Min="0" Max="1" Value="@(SixCountLevel is null ? 0 : SixCountLevel.Id >= 4 ? 1 : 0)" Class="my-7" />
                <MudProgressLinear Style="width:100%;margin:6px 0 !important" Color="MudBlazor.Color.Tertiary" Size="MudBlazor.Size.Medium" Min="0" Max="1" Value="@(NavySealsLevel is null ? 0 : NavySealsLevel.Id >= 4 ? 1 : 0)" Class="my-7" />
                <MudText Style="font-size:0.6rem" Typo="Typo.caption" Align="MudBlazor.Align.Center">1D</MudText>
            </MudStack>
            <MudStack Style="width:12%;border-right: 0.5px dashed rgba(33,150,243,1);" Spacing="1">
                <MudProgressLinear Style="width:100%;margin:6px 0 !important" Color="MudBlazor.Color.Primary" Size="MudBlazor.Size.Medium" Min="0" Max="1" Value="@(UserLevel is null ? 0 : UserLevel.Id >= 5 ? 1 : 0)" Class="my-7" />
                <MudProgressLinear Style="width:100%;margin:6px 0 !important" Color="MudBlazor.Color.Info" Size="MudBlazor.Size.Medium" Min="0" Max="1" Value="@(SixCountLevel is null ? 0 : SixCountLevel.Id >= 5 ? 1 : 0)" Class="my-7" />
                <MudProgressLinear Style="width:100%;margin:6px 0 !important" Color="MudBlazor.Color.Tertiary" Size="MudBlazor.Size.Medium" Min="0" Max="1" Value="@(NavySealsLevel is null ? 0 : NavySealsLevel.Id >= 5 ? 1 : 0)" Class="my-7" />
                <MudText Style="font-size:0.6rem" Typo="Typo.caption" Align="MudBlazor.Align.Center">2</MudText>
            </MudStack>
            <MudStack Style="width:12%;border-right: 0.5px dashed rgba(33,150,243,1);" Spacing="1">
                <MudProgressLinear Style="width:100%;margin:6px 0 !important" Color="MudBlazor.Color.Primary" Size="MudBlazor.Size.Medium" Min="0" Max="1" Value="@(UserLevel is null ? 0 : UserLevel.Id >= 6 ? 1 : 0)" Class="my-7" />
                <MudProgressLinear Style="width:100%;margin:6px 0 !important" Color="MudBlazor.Color.Info" Size="MudBlazor.Size.Medium" Min="0" Max="1" Value="@(SixCountLevel is null ? 0 : SixCountLevel.Id >= 6 ? 1 : 0)" Class="my-7" />
                <MudProgressLinear Style="width:100%;margin:6px 0 !important" Color="MudBlazor.Color.Tertiary" Size="MudBlazor.Size.Medium" Min="0" Max="1" Value="@(NavySealsLevel is null ? 0 : NavySealsLevel.Id >= 6 ? 1 : 0)" Class="my-7" />
                <MudText Style="font-size:0.6rem" Typo="Typo.caption" Align="MudBlazor.Align.Center">3</MudText>
            </MudStack>
            <MudStack Style="width:12%;border-right: 0.5px dashed rgba(33,150,243,1);" Spacing="1">
                <MudProgressLinear Style="width:100%;margin:6px 0 !important" Color="MudBlazor.Color.Primary" Size="MudBlazor.Size.Medium" Min="0" Max="1" Value="@(UserLevel is null ? 0 : UserLevel.Id >= 7 ? 1 : 0)" Class="my-7" />
                <MudProgressLinear Style="width:100%;margin:6px 0 !important" Color="MudBlazor.Color.Info" Size="MudBlazor.Size.Medium" Min="0" Max="1" Value="@(SixCountLevel is null ? 0 : SixCountLevel.Id >= 7 ? 1 : 0)" Class="my-7" />
                <MudProgressLinear Style="width:100%;margin:6px 0 !important" Color="MudBlazor.Color.Tertiary" Size="MudBlazor.Size.Medium" Min="0" Max="1" Value="@(NavySealsLevel is null ? 0 : NavySealsLevel.Id >= 7 ? 1 : 0)" Class="my-7" />
                <MudText Style="font-size:0.6rem" Typo="Typo.caption" Align="MudBlazor.Align.Center">4</MudText>
            </MudStack>
            <MudStack Style="width:12%;border-right: 0.5px dashed rgba(33,150,243,1);" Spacing="1">
                <MudProgressLinear Style="width:100%;margin:6px 0 !important" Color="MudBlazor.Color.Primary" Size="MudBlazor.Size.Medium" Min="0" Max="1" Value="@(UserLevel is null ? 0 : UserLevel.Id >= 8 ? 1 : 0)" Class="my-7" />
                <MudProgressLinear Style="width:100%;margin:6px 0 !important" Color="MudBlazor.Color.Info" Size="MudBlazor.Size.Medium" Min="0" Max="1" Value="@(SixCountLevel is null ? 0 : SixCountLevel.Id >= 8 ? 1 : 0)" Class="my-7" />
                <MudProgressLinear Style="width:100%;margin:6px 0 !important" Color="MudBlazor.Color.Tertiary" Size="MudBlazor.Size.Medium" Min="0" Max="1" Value="@(NavySealsLevel is null ? 0 : NavySealsLevel.Id >= 8 ? 1 : 0)" Class="my-7" />
                <MudText Style="font-size:0.6rem" Typo="Typo.caption" Align="MudBlazor.Align.Center">G</MudText>
            </MudStack>
        </MudGrid>
    </MudCardContent>
</MudCard>

@code {
    [Parameter] public LevelDto UserLevel { get; set; }
    [Parameter] public LevelDto SixCountLevel { get; set; }
    [Parameter] public LevelDto NavySealsLevel { get; set; }

    private int UserLevelId;
    private int SixCountLevelId;
    private int NavySealsLevelId;
}
